*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Jost;
    src: url(../Fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: Azonix;
    src: url(../Fonts/Azonix.otf);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Mask.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #e8e8e8;
    position: relative;
}

.footer-p-invest {
    left: 112px;
    top: 80px;
    position: absolute;
    font-family: azonix;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
}

.footer-p-in {
    left: 184px;
    top: 187px;
    position: absolute;
    font-family: azonix;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
}

.footer-p-future {
    left: 223px;
    top: 276px;
    position: absolute;
    font-family: azonix;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
}

.footer-div-links {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    gap: 1em;
    margin-top: 8rem;
    margin-right: 27rem;
    margin-bottom: 3rem;
}

.footer-handles {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-right: 20rem;
    margin-bottom: 10rem;

}

.footer-disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-right: 7rem;
}

.footer-span {
    margin-bottom: 3rem;
}

.footer-a-privacy {
    padding-right: 1em;
    color: white;
    text-decoration: none;
    border-right: 2px solid white  ;
}

.footer-a-terms {
    padding-left: 1em;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {
    .footer-div-links {
        flex-wrap: wrap;
        margin: 30rem auto 2rem auto;
    }

    .footer-handles {
        flex-wrap: wrap;
        margin: 2rem auto;
        flex-direction: row;
    }

    .footer-disclaimer {
        margin: 2rem auto;
    }
}